In [1]:
from pymongo import MongoClient
import pymongo
db_url= "mongodb://hwu41198:Ww19980120!!@cluster0-shard-00-00.tzlxa.mongodb.net:27017,cluster0-shard-00-01.tzlxa.mongodb.net:27017,cluster0-shard-00-02.tzlxa.mongodb.net:27017/test?ssl=true&replicaSet=atlas-hup9uu-shard-0&authSource=admin&retryWrites=true&w=majority"
client = MongoClient(db_url)


########### COLLECTIONS ###########
airbnb=client['sample_airbnb']['listingsAndReviews']
geospatial=client['sample_geospatial']['shipwrecks']
netflix=client['sample_mflix']
movies=client['sample_mflix']['movies']
supplies=client['sample_supplies']['sales']
training=client['sample_training']
weather=client['sample_weatherdata']['data']
grades = training['grades'] 




# OTHER NOTES --- 
# list dbs
# list_databases()
# See all databases: list(client.list_databases())

# list collections
# list_collection_names()

# SORT --> SKIP --> LIMIT
# collection.distinct('address.country')

# Query construction
# collection.find() 
# collection.count_documents()

## Note 
All questions are worth 5 points. Graded both on the solution and query written.

See **References** below for tips, etc.

## Question 1  

Find the number of documents in the Airbnb collection with "beds" value of 5 and "Wifi" as a value in the "amenities" field.

In [2]:
airbnb.count_documents({"beds":5,"amenities":"Wifi"})

162

## Question 2

Write a query to find the "student2" value in the "studentNames" field that would return the below document.

~~~
Author Collection:

{ 
    name: "Author1",
    info: {
        bio: "Author1 is great and was born in..",
        favorite_writing_utensil: "quil",
        education: {
            university: "Education University",
            degree: {
                name: "Philosophy",
                department: "Philosophy",
                school: "Arts & Sciences",
                disseration: {
                    name: "Dissertation 1",
                    advisor: {
                        name: "AdvisorName",
                        position: "Dept Head",
                        currentAdvisedStuddents: {
                            count: 4,
                            studentNames: ["student1","student2","student3","student4"]
                        }
                    }
                }
            }
        }
    }
}
~~~

Author.find({"info.education.degree.disseration.advisor.currentAdvisedStuddents.studentNames":"student2"},
            {"_id":0, "name":1, "info":1})

## Question 3

Find the number of documents in the movies collection with "countries" value of "USA", "genres" in "Action","Mystery", or "Adventure", and a "runtime" greater than 88 but less than 90. Return the "title", "countries", "genres", and the "runtime". Sort by title ascending, and limit to 1 result.

In [4]:
movies.find({"countries":"USA", 
             "genres":{"$in":["Action","Mystery","Adventure"]},
             "runtime": {"$gt":88, "$lt":90}
            },
            {"_id":0,"title":1, "countries":1, "genres":1, "runtime":1}).sort("title",1).limit(1).count()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """

64

## Question 4

Conver the SQL below into MongoDB

~~~
SELECT title, year, awards.wins
FROM movies
WHERE year BETWEEN 2000 and 2019 AND awards.wins > 10
ORDER BY year desc 
LIMIT 1
~~~

In [5]:
list(movies
     .find({"year":{"$gt":2000, "$lt":2019},
            "awards.wins":{"$gt":10}
     },
     {"_id":0,"title":1, "year":1, "awards.wins":1})
     .sort("year",-1)
     .limit(1))

[{'title': 'Awaken', 'awards': {'wins': 12}, 'year': 2015}]

## Question 5  

In the movies collection, return one document sorted by "title" ascending, where "countries" are not in "USA","UK","Egypt","Norway","Japan", "genres" exists and are not in "Action","Drama","Adventure", the "runtime" is greater than 50 and less than 90, and the "year" is 1932. Return only the "title", "countries", "genres", "year" and "runtime".

In [14]:
list(movies
    .find({"countries":{"$nin":["USA","UK","Egypt","Norway","Japan"]},
           "genres":{"$nin":["Action","Drama","Adventure"]},
           "runtime":{"$gt":50, "$lt":90},
           "year":1932
    },
    {"_id":0,"title":1, "countries":1, "genres":1, "year":1, "runtime":1})
    .sort("title",1)
    .limit(1))

[{'runtime': 55,
  'title': 'The Blood of a Poet',
  'year': 1932,
  'countries': ['France']}]

## Question 6  

In the airbnb collection, return the document where the "room_type" has a value of "Entire home/apt", the 'host.host_response_rate' has a value of 90, and the "address.country_code" has a value of CA. Only return the name, room_type , host.host_response_rate , and address.country_code. Sort by name ascending and limit to 1 result.

In [7]:
list(airbnb
     .find({"room_type":"Entire home/apt",
            "host.host_response_rate":90,
            "address.country_code":"CA"
     },
         {"_id":0, "name":1, "room_type":1 , "host.host_response_rate":1 , "address.country_code":1})
     .sort("name",1)
     .limit(1)
    )

[{'name': 'Appartment Loft style',
  'room_type': 'Entire home/apt',
  'host': {'host_response_rate': 90},
  'address': {'country_code': 'CA'}}]

## Question 7
What kind of data type is the host and address field in the above question? In general, how would you depict this relationship between airbnb and the address in a relational database ?

1)
~~~
(A) Array
(B) Collection
(C) Label
(D) Subdocument/Embedded Document
~~~

2)
~~~
(A) Column in the same table
(B) Row in the same table
(C) Separate table
(D) JSON in the same table
~~~

Please write the correct answer in the kernel below with number and letter, separating the two by a comma. For example:

**1C, 2B**

**1D, 2A**

## Question 8
Return the count of the number of documents in the movies collection where 
~~~
1) "runtime" exists and is not equal to 90
2) "genres" field does not exist
~~~

In [20]:
movies.count_documents({"runtime": {"$ne":90,"$exists":True},
                        "genres": {"$exists":False}})

96

## Question 9
Return the count of the number of documents in the movies collection where 
~~~
1) "type" is "series"
2) "num_mflix_comments" field does not exist
~~~

In [9]:
movies.count_documents({"type":"series",
                       "num_mflix_comments": {"$exists":False}})

77

## Question 10
Return the count of the number of documents in the movies collection where 
~~~
1) "type" is "series"
2) "genres" array values are not in the following: "Action" or "Adventure"
~~~

In [21]:
movies.count_documents({"type":"series",
                       "genres":{"$nin":["Action", "Adventure"]}})

196

## Question 11
Return the document in the movies collection where 
~~~
1) "num_mflix_comments" is greater than 300
2) awards subdocument "wins" is greater than 2
3) "directors" field exists and has no value in the following: "Woody Allen", 
"Spike Lee", or "Alfred Hitchcock"   
4) sort by "num_mflix_comments" descending
5) limit to 1 result
6) Only return the "name","num_mflix_comments", "awards.wins", and "directors"
~~~

In [11]:
list(movies
    .find({"num_mflix_comments":{"$gt":300},
           "awards.wins":{"$gt":2},
           "directors":{"$nin":["Woody Allen", "Spike Lee", "Alfred Hitchcock"], "$exists":True}
    },
         {"_id":0,"title":1,"num_mflix_comments":1, "awards.wins":1, "directors":1})
    .sort("num_mflix_comments",-1)
    .limit(1))

[{'title': 'The Mask',
  'num_mflix_comments': 456,
  'awards': {'wins': 7},
  'directors': ['Chuck Russell']}]

## Question 12
Return the document in the movies collection where 
~~~
1) "rated" exists has no value in the following: 'APPROVED','Approved','G','GP','M','NC-17','NOT RATED','Not Rated',
'OPEN','PASSED','PG','PG-13','R','TV-14','TV-G','UNRATED','X'
2) "countries" has a value of "USA"
3) "tomatoes" subdocument field "viewer" which has a subdocument as well has a field value for its "numReviews" field of greater than 200 but less than 300
4) sort by "numReviews" field ascending
5) limit to 1 result
6) only return the "title", "rated", "countries", and "tomatoes.viewer.numReviews" fields
~~~

In [12]:
list(movies
    .find({"rated":{"$nin":['APPROVED','Approved','G','GP','M','NC-17','NOT RATED','Not Rated','OPEN',
                            'PASSED','PG','PG-13','R','TV-14','TV-G','UNRATED','X'],"$exists":True},
           "countries":"USA",
           "tomatoes.viewer.numReviews":{"$gt":200, "$lt":300}
    },
        {"_id":0, "title":1, "rated":1, "countries":1, "tomatoes.viewer.numReviews":1})
    .sort("numReviews",1)
    .limit(1))

[{'rated': 'TV-PG',
  'title': 'Supervolcano',
  'countries': ['UK', 'Germany', 'Italy', 'Japan', 'USA'],
  'tomatoes': {'viewer': {'numReviews': 211}}}]

#References
extra pointers, tips, etc

### All Query Operators discussed below can be found here:
https://docs.mongodb.com/manual/reference/operator/query/


### For Comparison Operators

~~~
$eq: Matches values that are equal to a specified value.
$gt: Matches values that are greater than a specified value.
$gte: Matches values that are greater than or equal to a specified value.
$in: Matches any of the values specified in an array.
$lt: Matches values that are less than a specified value.
$lte: Matches values that are less than or equal to a specified value.
$ne: Matches all values that are not equal to a specified value.
$nin: Matches none of the values specified in an array.
~~~

See https://docs.mongodb.com/manual/reference/operator/query-comparison/ for more info.

## Special Cases - NE and NIN
Both NE and NIN will include documents in which the field in question (the field on which the comparison operator is applied to) does not exist. Consider the following two examples below:
~~~
$ne : 
{"field": {"$ne": "value" }}

movies.count_documents({"num_mflix_comments": {"$ne": 300}})
movies.count_documents({"num_mflix_comments": {"$ne": 300, "$exists": True }})



$nin :
{"field": {"$nin": ["value1","value2",...]}}

movies["movies"].count_documents({"directors": {
    "$nin": ["Woody Allen", "John Ford", "Martin Scorsese"],
}})

movies["movies"].count_documents({"cast": {
    "$nin": ["Woody Allen", "John Ford", "Martin Scorsese"],
    "$exists":True
}})
~~~

If you run the above, the two results of each respective operator will return different counts, depending on whether or not you include the exists operator or not. Keep this in mind as you complete the next few queries.

See more here https://docs.mongodb.com/manual/reference/operator/query-comparison/